# Sensitive
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local release builds
releases/

# Local testing files
SCRATCH.md
inflight_trace_dump

# OS-specific
.DS_Store